@font-face {
  font-family: "Inter-SemiBold";
  src: url("./Inter-SemiBold.ttf");
}

@font-face {
  font-family: "Inter-Bold";
  src: url("./Inter-Bold.ttf");
}

* {
  letter-spacing: -0.8px; /* 원하는 자간 값으로 변경하세요 */
  
}

body {
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 12px;
  color: #565656;

}

.bold {
  font-family: "Inter-Bold";
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter-SemiBold", sans-serif;
}

button {
  font-family: "Inter-SemiBold", sans-serif;
}
