@font-face {
  font-family: "Inter-SemiBold";
  src: url("./Inter-SemiBold.ttf");
}

@font-face {
  font-family: "Inter-Bold";
  src: url("./Inter-Bold.ttf");
}

@font-face {
  font-family: "Inter-Medium";
  src: url("./Inter-Medium.ttf");
}

* {
  letter-spacing: -0.8px; /* 원하는 자간 값으로 변경하세요 */
}

.bold {
  font-family: "Inter-Bold";
}

p,
span,
strong {
  font-family: "Inter-Medium", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
div,
h6 {
  /* font-family: "Inter-SemiBold", sans-serif; */
  /* font-weight: 500; */

  font-family: "Inter-Medium", sans-serif;
  font-size: 12px;
  color: #565656;
}

button {
  font-family: "Inter-SemiBold", sans-serif;
}
